header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: rgb(234, 255, 255);
    padding-inline: 70px;
}
.header.dark{
    color:rgb(163, 252, 252);
    /* background-color:#273c7a ; */
    background-image: linear-gradient(to right, #191e27 0%, #255e78 51%, #151d2a 100%);
}
.header.dark.mode_btn button{
    color:rgb(163, 252, 252);
    /* background-color:#273c7a ; */
    border-color: #c0faf3;
}
.mode_btn button{
    display: flex;
    align-items: center;
    gap:5px;
    padding:9px 10px;
    border:1px unset rgb(37, 36, 36) ;
    border-radius: 5px;
    height:2.8rem;
    color: #09181c;
    width:8.3rem;
    font-weight: 900;
    font-size:14px;
    font-family:unset;
    background-image: linear-gradient(to right, #c8fef9 0%, #c8fbf8 51%, #befdf5 100%);
    box-shadow: rgba(26, 25, 25, 0.4) 0px 2px 4px, rgba(57, 56, 56, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor:pointer;
}
.mode_btn button:active{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    color: #000000;
}

.div h2{
    font-size: 30px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-shadow: 0px 0px 0 #7eafc4, 1px 1px 0 #82b7c1, 2px 2px 0 #84c4d2,
      3px 3px 0 #97deef, 4px 4px 0 #99dceb;
}

