.btn{
    border: 1px solid transparent;
    /* border-radius: 50%; */
    /* height: 120px;
    width: 120px; */
    padding: 5px 60px;
    outline: none;
    font-weight: 900;
    font-size:30px;
    background-image: linear-gradient(to right, #a0d8d3 0%, #38908a 51%, #a2d8d1 100%);
    box-shadow: rgba(26, 25, 25, 0.4) 0px 2px 4px, rgba(57, 56, 56, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor:pointer;
}
.btn:active{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    color: #000000;
}
